BANK_EUREKA_URL=http://localhost:8761/eureka/
BANK_CONFIG_URL:http://localhost:8888

DB_URL:jdbc:postgresql://localhost:5432/my_bank
DB_USER:postgres
DB_PASSWORD:password

BANK_KEYCLOAK_REALM_URL:http://localhost:8180/realms/bank-realm
BANK_ACCOUNT_KEYCLOAK_ID:accounts-service
BANK_ACCOUNT_KEYCLOAK_SECRET:accounts-service-secret
BANK_CASH_KEYCLOAK_ID:cash-service
BANK_CASH_KEYCLOAK_SECRET:cash-service-secret
BANK_TRANSFER_KEYCLOAK_ID:transfer-service
BANK_TRANSFER_KEYCLOAK_SECRET:transfer-service-secret
BANK_FRON_UI_KEYCLOAK_CLIENT_ID:front-ui
BANK_FRON_UI_KEYCLOAK_CLIENT_SECRET:front-ui-secret